<h1>Nijikaiq</h1>
<p>二次会クイズ作成アプリへようこそ</p>
<div>
    <h5>結婚式二次会用のクイズを作成できるアプリです。</h5>
    <h5>結婚式二次会用のクイズを作成できるアプリです。</h5>
    <h5>結婚式二次会用のクイズを作成できるアプリです。</h5>
    <h5>結婚式二次会用のクイズを作成できるアプリです。</h5>
    <h5>結婚式二次会用のクイズを作成できるアプリです。</h5>
    <h5>結婚式二次会用のクイズを作成できるアプリです。</h5>
    <% if signed_in? %>
        ログイン中です
    <% else %>
        <%= link_to "新規ユーザ登録", new_user_path, :class => 'btn' %>
        <%= link_to "ログイン", signin_path, :class => 'btn' %>
        <!--  do nothing -->
    <% end %>

    <ul>
    </ul>
</div>
