<h1>Nijikaiq</h1>
<div>
    <h5>二次会ゲーム作成アプリへようこそ</h5>
    <p>当サイトは結婚式二次会をはじめとした歓送迎会、忘年会などのパーティで使えるクイズを作成できるWEBサービスです。</p>
    <p>４択クイズ、並べ替えクイズを作成し、スライド形式でクイズを出題・回答することができます。</p>
    <hr/>

    <h5>お知らせ</h5>
    <p>2014.9.7 β版二次会Qオープン</p>
    <p>aaaaaa</p>
    <p>aaaaaa</p>
    <p>aaaaaa</p>
    <p>aaaaaa</p>
    <p>aaaaaa</p>
    <p>aaaaaa</p>
    <hr/>

    <h5>NijikaiQを利用する</h5>
    <% if signed_in? %>
        <p>現在ログイン中です。Mypageボタンからユーザ用ページに移動してください。</p>
        <%= link_to "マイページへ", current_user, :class => 'btn'%>
    <% else %>
        
        <%= link_to "新規ユーザ登録", new_user_path, :class => 'btn' %>
        <%= link_to "ログイン", signin_path, :class => 'btn' %>
        <!--  do nothing -->
    <% end %>

    <ul>
    </ul>
</div>
