<h2 class="text-center">NIJIKAIQ　クイズ画面</h2>
<%= form_tag('/slides/project', :method => :get) do  %>
    <h3>プロジェクトコードを入力してください</h3>
    <%= text_field_tag :project_id %>
    <%= submit_tag '開始', :class => 'btn btn-small btn-info' %>
<%end%>

