// Place all the styles related to the slides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$blue: #0066FF;
$green: #5BB75B;

table td{
    border-collapse: separate;
    font-size:150%;
    background-color:$green;
color:white;
}

.ans {
color:pink;
      font-size:150%;
      background-color:red
}
.answerSelect{
color:red;
font-size:150%;

}

body{
color:white;
      background-color:$blue;
}
