<%- model_class = User -%>
<div class="page-header">
    <h1>新規ユーザ登録<%#=t '.title', :default => [:'helpers.titles.new', '新規ユーザ登録'], :model => model_class.model_name.human.titleize %></h1>
    </div>
    <%= render :partial => 'form' %>
